{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import", "prettier"],
  "ignorePatterns": ["lib", "bin"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-typescript/base",
    // Make sure prettier is at last to resolve any conflicting rules
    "prettier"
  ],
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "prettier/prettier": ["error"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  }
}
